<h1>Edit todo </h1>

<% if @todo.errors.any? %>
<h2>The folowing errors prevented the todo from being saved</h2>
<ul>
  <% @todo.errors.full_messages.each do |msg| %>
  <li>
    <%= msg %>
  </li>
  <% end %>
</ul>
<% end %>


<%= form_for @todo, url: {action: "update"}, html: {class: "nifty_form"} do |f| %>
  <p>
	<%= f.label :id %><br/>
    <%= f.text_field :id %>  
  </p>
  <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>  
  </p>
  <p>
    <%= f.label :description %><br/>
    <%= f.text_area :description, size: "60x12" %>
  </p>
  <p>
    <%= f.submit "Update" %>
    <%= f.submit "Delete" %>
    
  </p>  
<% end %>

