<h1>Listing all Todos</h1>

<p>

  <%= link_to "Create a Todo", new_todos_path %>
</p>

<table>
  <tr>
  	<!-- <th>Id</th> -->
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% @todos.each do |todo| %>
    <tr>
      <!-- <td><%= todo.id %></td> -->
      <td><%= todo.name %></td>
      <td><%= todo.description %></td>
      <td><%= link_to 'Edit', edit_todos_path(todo) %></td>
      <td><%= link_to 'Show', todos_path(todo) %></td>
      <td><%= link_to 'Delete', todos_path(todo), method: :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>
  <% end %>
</table>